@import "variables.less";

.geodash-map-navbars
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  margin-left: 15px;
  width: 100%;

  .geodash-map-navbar {
    background: rgba(0,0,0,0);
    z-index: @geodash-map-control-z-index;
    border-radius: 0;
    border: 0;
    width: 100%;

    div {
      float:left;
      width: 8.33333333333333%;
      a {
        width: 100%;
        border: 1px solid rgb(204, 204, 204);
        transition: width @geodash-map-navbar-transition ease-in-out;
        transition: height @geodash-map-navbar-transition ease-in-out;
        cursor: pointer;
      }

     a.btn-default {
       color: @geodash-map-navbar-button-color;
       background: @geodash-map-navbar-button-background;
     }

     a.selected {
       background: rgb(51, 122, 183);
     }

    }

  }

  .geodash-map-navbar.geodash-placement-top, .geodash-map-navbar.geodash-placement-bottom {
    div {
      a.pop:hover {
        height: 60px;
        line-height: 38px;
      }
      a.pop.selected {
        height: 60px;
        line-height: 38px;
      }
    }
  }

  .geodash-map-navbar.geodash-placement-top {
    a {
      vertical-align: top;
      border-radius: 0;
    }
  }

  .geodash-map-navbar.geodash-placement-bottom {
    a {
      vertical-align: bottom;
      border-radius: 0;
    }
  }

}
