<div
  id="geodash-map-navbars"
  class="geodash-map-navbars">
  <div
    ng-repeat="navbar in dashboard.navbars track by $index"
    ng-class="class_navbar(navbar)"
    style="{{ style_navbar(navbar) }}">
    <div
      ng-repeat="tab in navbar.tabs track by $index"
      ng-class="class_tab_wrapper(navbar, tab)"
      style="{{ style_tab_wrapper(navbar, tab) }}">
      <a
        ng-class="class_tab(navbar, tab)"
        style="{{ style_tab(navbar, tab) }}"
        ng-href="{{ link_url(navbar, tab) }}"
        target="{{ link_target(navbar, tab) }}"
        data-intents="{{ intents(navbar, tab) | json : 0 }}"
        data-intent-ctrl="geodash-map-navbars"
        data-intent-class-on="btn-primary selected"
        data-intent-class-off="btn-default"
        data-toggle="{{ tab.tooltip | ternary_defined : 'tooltip': '' }}"
        data-placement="{{ tab_tooltip_placement(navbar, tab) }}"
        data-container="{{ tab_tooltip_container(navbar, tab) }}"
        ng-attr-title="{{ tab | extract : 'tooltip' : 'content' | default_if_undefined_or_blank : '' }}"
        ng-bind-html="tab.title | md2html : markdown_tab(navbar, tab)"></a>
    </div>
  </div>
</div>
